table {
  border:1px;
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child td {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

tr td.none {
  height:30px;
  width:30px;
  border:0px solid;
  text-align:center;
}



